APP_ENV = 'development'
MYSQL_DB_URL = 'mysql://root:@127.0.0.1/flask'
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECRET_KEY = 'secret_key'
CLIENT_URL = 'http://localhost:5173'
WORDS_LIMITATION = 200

OPENAI_URL = 'https://api.openai.com'
OPENAI_API_KEY = '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'
PROXY_FOR_OPENAI = 'http://LU8fsp:AfMr68@45.147.103.80:8000'

BYPASSGPTAI_URL = 'https://bypassgpt.ai'
BYPASSGPTAI_API_KEY = 'api_key_400bd570b1844a9ca6633313617712d2'

STRIPE_SECRET_KEY = 'sk_test_51PFqg4C5JksLx0mINIWPYe92GpnHj7toBlONTz3vjLYEoTRZevwGDzMTmlpYgRQTGicmLEZ7unlyo6WZEyxM3qxX00ZCGZW8Eu'
STRIPE_MONTHLY_PRICE_ID = 'price_1PFzytC5JksLx0mIySdkeJSF'
STRIPE_YEARLY_PRICE_ID = 'price_1PFzzYC5JksLx0mItWqpBjRn'
STRIPE_SUCCESS_REDIRECT_URL = 'http://192.168.130.74:5555/api/v1/subscriptions/success'

GOOGLE_USERINFO_URL = 'https://www.googleapis.com/oauth2/v3/userinfo'

PINECONE_API_KEY = '5cb55f55-85e0-421b-9766-24916f98546a'